* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body {
    background-color: #fafafa;
    font-family: 'Nunito', sans-serif;
    height: 100vh;
}
header {
    background-color: #f1f5f9;
    padding: 2em 0 1em 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.title {
    text-align: center;
    letter-spacing: .1rem;
}
.avatar {
    width: 75px;
    height: 75px;
    display: block;
    margin: auto;
}
.subtitle {
    text-align: center;
    margin-top: .8em;
    font-size: 1rem;
}
.info-box {
    margin-top: 2em;
}
.projects-title {
    text-align: center;
    margin-top: 1em;
}
.about {
    text-align: center;
    margin-top: 2em;
}
nav {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; 
}
nav ul.nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin: 0em 0 1em 0;
    padding: .7em 0 .7em 0;
    background-color: black;
}
nav ul.nav-list li {
    cursor: pointer;
}
.nav-item {
    color: white;
}
.skills,
.education,
.resume {
    text-align: center;
    padding: .6em 0 .6em 0;
    background-color: #f5f5f5;
    color: black;
    width: 75%;
    margin: auto;
    margin-top: .2em;
    cursor: pointer;
    border: 3px solid rgba(0,0,0,.5);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}
.skills:hover,
.education:hover,
.resume:hover {
    transform: scale(1.01);
}
.skills-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: none;
    animation: fadeIn 1.2s;
        -webkit-animation: fadeIn 1.2s;
        -moz-animation: fadeIn 1.2s;
        -o-animation: fadeIn 1.2s;
        -ms-animation: fadeIn 1.2s;
}
#education-container {
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    justify-content: center;
}
.skill-img {
    height: 75px;
    width: 75px;
}
.education-img {
    width: 200px;
    height: 75px;
    text-align: center;
}
#app {
    margin: 1em .5em 1em .5em;
    font-size: 2rem;
    text-align: center;
    height: 100px;
}
hr {
    width: 80%;
    margin: auto;
}
.about-box {
    width: 90%;
    margin: auto;
    margin-top: 1em;
}
.about-text {
    font-size: 1.4rem;
    padding: .3em;
    text-align: center;
}
img {
    width: 55px;
    height: 40px;
}
.web-img {
    width: 300px;
    height: 250px;
    display: block;
    margin: auto;
    margin-top: 3em;
}
.database-img {
    width: 300px;
    height: 250px;
    display: block;
    margin: auto;
    margin-top: 2em;
}
.container img {
    width: auto ;
    max-width: 90% ;
    height: auto ;
    display: block;
    margin: auto;
}
.img-text-box {
    display: flex;
    flex-direction: column;
}
.img-text-box .large {
    font-size: 1.1rem;
}
.img-text-box p.img-text {
    padding-top: 2em;
    font-size: 1rem;
    text-justify: inter-word;
    max-width: 80%;
    margin: auto;
    text-align: left;
    word-spacing: .2rem;
}
.slider {
    text-align: center;
}
.container .glide .glide__track .glide__slides {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
}
.glide__track {
    margin-top: 2em;
}
.glide__arrows {
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.glide__arrows button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: black;
}
.glide__arrows .glide__arrow {
    font-size: 4rem;
    color: black;
}
form#contact {
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 2em;
    padding: 1rem;
    background-color: #f5f5f5;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}
form#contact h3 {
    margin-bottom: .4em;
    letter-spacing: .1rem;
}
form#contact hr {
    margin: .5em 0 1em 0;
    margin: auto;
}
.email-div input[type="email"] {
    margin-top: .5em;
}
form#contact div#emailHelp {
    margin: .5em 0 1em 0;
}
form#contact .email-div {
    padding-top: 1em;
}
input {
    border: 1px solid #DDD;
}
input[type="email"] {
    font-size: 1.2rem;
    display: block;
    width: 80%;
    height: 2em;
    margin: auto;
    margin-bottom: 2rem;
    background-color: #f7f7f7;
    text-indent: .5rem;
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}
textarea {
    width: 80%;
    font-size: 1rem;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: #f7f7f7;
    text-indent: .5rem;
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}
form#contact button {
    width: 80%;
    height: 50px;
    color: white;
    outline: none;
    font-size: 1.2rem;
    border-radius: 4px;
    background-color: black;
    display: block;
    margin: auto;
    letter-spacing: .1rem;
    position: relative;
    overflow: hidden;
}
form#contact button:hover {
    cursor: pointer;
}
form#contact button:before,
form#contact button:after {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background-color: #FFF;
    opacity: .2;
    transform: rotate(45deg);
    transition: all ease 1s;
}
form#contact button:after {
    transition-delay: .2s;
}
form#contact button:hover:before,
form#contact button:hover:after {
    left:100%;
}
footer {
    margin-top: 2em;
    padding: 1em;
    background-color: black;
    text-align: center;
    color: #f1f5f9;
}
/* KEYFRAMES */
/* FADE-IN */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  /* FADE-IN-DOWN */
@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(-20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}
.fadeInDown {
   -webkit-animation-name: fadeInDown;
   animation-name: fadeInDown;
 }
 /* MEDIA QUERIES */
 @media (min-width: 375px) and (max-width: 475px) {
 .skills-container {
    justify-content: space-around;
 }
 #app {
    margin-bottom: .3em;
 }
}